/*html, body {
    overflow-x: hidden;
    max-width: 100%;
} tira a rolagem lateral*/

body{
    margin: 0px;
    background-color: aquamarine;
}
.titulo{
    background-color: rgb(43, 40, 40);
    height: 70px;
    display: flex;
}

h1{
    color: aqua;
    justify-self: center;
    font-size: 2em;
    margin: 0px;
    width: 80%;
    padding: 10px;
}

.menu{
    background-color: rgb(43, 40, 40);
    width: 20%;
    padding-top: 5px;
    text-align: center;
}
a{
    color: azure;
}

p{
    justify-self: center;
    margin: 0px;
}
.fundo{
    background-color: rgb(43, 40, 40);
    height: 70px;
    
}
.texto-fundo{
    color: aqua;
    padding-top: 5px;
}

.texto-in1{
    
    padding-top: 5px;
    height: 495px;
    width: 90%;
    margin: auto;
}